<ifModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase https://bokamatyas.github.io/web_StarWars
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule https://bokamatyas.github.io/web_StarWars/index.html [L]
</ifModule>
